body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h3 {
    border-bottom: 1px solid black;
}

label {
    white-space: nowrap;
}

label.checkbox {
    margin-right: 10px;
}

/********************* ITEMS **********************/

div.item {
    margin-bottom: 5px;
}
div.item > h4 {
    font-size: 14px;
    display: inline-block;
    margin: 0;
}
div.item > p {
    display: inline;
    color: #777777;
}

div.messages > div.item > h4 {
    width: 50px;
}

div.berths > div.item > h4 {
    width: 70px;
}

/******************** TITLE ROW **********************/

div.row#title {
    line-height: 60px;
}

div.row#title h1 {
    text-align: center;
    text-transform: capitalize;
}

div.row#title h2 {
    font-size: 20px;
    text-align: right;
    padding-right: 50px;
    background-position: right;
    background-repeat: no-repeat;
    color: #000000;
}
h2.good {
    background-image: url('../img/ok.png');
}
h2.warning {
    background-image: url('../img/warn.png');
}
h2.error {
    background-image: url('../img/major.png');
}

/***************** WARNING ROW *********************/
div#warning {
    background-color: #ffff00;
    background-image: url('../img/warning.png');
    background-repeat: no-repeat;
    background-position: 30px center;
    border-radius: 6px;
    height: 100px;
}

div#warning > h1 {
    font-size: 40px;
    line-height: 100px;
    float: left;
    padding: 0 30px 0 100px;
    margin: 0;
}

div#warning > p {
    line-height: 100px;
    float: left;
}

/******************** MINIMAP *********************/

div#map_canvas {
    width: 100%;
    height: 300px;
}

div#map {
    position: relative;
}

div#map > div#loading {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 450px;
}

div#overview div#map_canvas {
    height: 450px;
}

div#report div#map_canvas {
    height: 350px;
}

/*************** SPECIFIC STYLES ***************/

/* analysis query controls */
div#query div.controls-row {
    margin-bottom: 10px;
}

div#query input, div#query textarea {
    margin-bottom: 0px;
}

div#query textarea {
    height: 70px;
}

div#query a.active {
    color: black;
    text-decoration: none;
}

div#query div.basic, div.advanced {
    display: none;
}
div#query div.active {
    display: block;
}

/* overview layout */
div#overview > div {
    margin-top: 10px;
}

div#overview div.slider {
    height: 30px;
}

div#summary div.row-fluid > div:first-child {
    font-weight: bold;
}

div#summary a {
    color: black;
}

div#controls {
    display: none;
}

span#speed {
    padding-top: 2px;
    padding-left: 12px;
    text-align: center;
}
