{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span4">
            <div id="graphs">
                <h3>User graphs</h3>
                <div id="ships-graph" class="graph" style="height: 300px"></div>
                <div id="cargo-graph" class="graph" style="height: 300px"></div>
            </div>
        </div>
        <div class="span8">
            <div id="query" class="row-fluid">
                <h3>Query</h3>
                <form>
                    <div class="controls controls-row">
                        <input class="span10" type="text" placeholder="Query name" />
                        <button class="btn span2">
                            <i class="icon-download-alt"></i> Save
                        </button>
                    </div>
                    <div class="controls controls-row">
                        <span class="span10" style="line-height:30px">
                            <a href="#" class="basic active">Basic</a> |
                            <a href="#" class="advanced">Advanced</a>
                        </span>
                        <button class="btn span2">
                            <i class="icon-arrow-left"></i> Back
                        </button>
                    </div>
                    <div class="basic active">
                        <div class="controls controls-row">
                            <span class="span6">
                                <label class="checkbox inline">
                                    <input type="checkbox"> Lanes
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox"> Ships
                                </label>
                                <label class="checkbox inline">
                                    <input type="checkbox"> Berths
                                </label>
                            </span>
                            <input class="span4" type="text" id="input_from" placeholder="From date" />
                        </div>
                        <div class="controls controls-row">
                            <input class="span6" type="text" placeholder="Search terms" />
                            <input class="span4" type="text" id="input_to" placeholder="To date" />
                            <button class="btn span2">
                                <i class="icon-arrow-right"></i> Run
                            </button>
                        </div>
                    </div>
                    <div class="advanced">
                        <div class="controls controls-row">
                            <textarea class="span10" placeholder="Search query" id="search_query"></textarea>
                            <button class="btn span2" style="margin-top: 40px" id="run">
                                <i class="icon-arrow-right"></i> Run
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="results">
                <h3>Results</h3>
                <div id="results_table">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#input_from').datepicker();
        $('#input_to').datepicker();

        $.each(['.basic', '.advanced'], function (i, selector) {
                $('a' + selector).click(function (event) {
                        $('.active').removeClass('active');
                        $(selector).addClass('active');
                        event.preventDefault();
                    });
            });
        $('#ships-graph').highcharts({
            chart: {
                type: 'line',
                marginRight: 10,
                marginBottom: 65
            },
            title: {
                text: 'Ships in port by type',
                x: -20 //center
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Number in port'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
            },
            series: [{
                pointInterval: 2*60*60*1000,
                pointStart: Date.UTC(2013, 0, 01),
                name: 'Container',
                data: [6, 6, 10, 10, 13, 15, 12, 13, 9, 10, 12, 14]
            }, {
                pointInterval: 2*60*60*1000,
                pointStart: Date.UTC(2013, 0, 01),
                name: 'Bulk',
                data: [10, 7, 6, 9, 12, 15, 17, 17, 14, 10, 7, 5]
            }]
        });
        $('#cargo-graph').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Container Cargo'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 1 * 3600000, // 1 hour
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'Cargo (TEU)'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Cargo volume',
                pointInterval: 22 * 3600,
                pointStart: Date.UTC(2013, 0, 01),
                data: [5912.2, 5911.5, 5910.8, 5915.7, 5892.6, 5784.8, 5780.6, 5762.4, 5763.1, 5780.6,
                5798.1, 5794.6, 5779.2, 5804.4, 5767.3, 5767.3, 5771.5, 5785.5, 5782.7, 5788.3,
                5791.1, 5770.8, 5770.8, 5720.4, 5697.3, 5702.2, 5714.8, 5740.0, 5788.3, 5788.3,
                5788.3, 5780.6, 5772.9, 5800.2, 5802.3, 5821.2, 5824.0, 5833.1, 5846.4, 5849.9,
                5848.5, 5847.8, 5882.1, 5882.1, 5884.2, 5882.1, 5877.2, 5892.6, 5886.3, 5868.8,
                5870.2, 5860.4, 5873.0, 5880.0, 5872.3, 5880.0, 5896.1, 5896.1, 5904.5, 5895.4,
                5866.0, 5861.1, 5821.2, 5812.1, 5812.1, 5811.4, 5858.3, 5880.0, 5869.5, 5880.0,
                5880.7, 5881.4, 5866.7, 5845.7, 5819.8, 5791.1, 5749.1, 5744.9, 5744.9, 5750.5,
                5769.4, 5791.1, 5810.7, 5842.2, 5818.4, 5818.4, 5818.4, 5814.2, 5828.9, 5797.4,
                5768.0, 5778.5, 5779.2, 5791.1, 5746.3, 5705.7, 5704.3, 5749.1, 5791.1, 5791.1,
                5782.7, 5776.4, 5768.0, 5783.4, 5780.6, 5782.7, 5782.0, 5739.3, 5707.1, 5667.9,
                5670.7, 5683.3, 5674.9, 5673.5, 5658.8, 5648.3, 5632.9, 5616.1, 5575.5, 5543.3,
                5544.7, 5545.4, 5553.8, 5542.6, 5540.5, 5509.0, 5502.7, 5502.7,
                5497.1, 5506.9, 5478.9, 5483.8, 5436.2, 5425.7, 5417.3, 5436.9, 5461.4, 5451.6,
                5479.6, 5471.2, 5480.3, 5481.0, 5480.3, 5446.7, 5467.7, 5481.7, 5478.2, 5498.5,
                5498.5, 5491.5, 5458.6, 5443.9, 5475.4, 5449.5, 5420.8, 5420.1, 5408.2, 5436.2,
                5464.2, 5495.0, 5534.9, 5538.4, 5539.1, 5551.7, 5566.4, 5565.7, 5549.6, 5537.0,
                5539.1, 5538.4, 5558.7, 5567.1, 5544.7, 5543.3, 5577.6, 5599.3, 5599.3, 5581.8,
                5559.4, 5572.0, 5578.3, 5503.4, 5474.7, 5474.7, 5474.7, 5467.7, 5483.1, 5494.3,
                5473.3, 5466.3, 5466.3, 5478.9, 5493.6, 5495.0, 5511.1, 5525.8, 5534.9, 5536.3,
                5562.9, 5590.9, 5593.0, 5548.9, 5530.0, 5514.6, 5514.6, 5534.9, 5545.4, 5555.9,
                5502.0, 5509.0, 5486.6, 5486.6, 5485.9, 5485.2, 5464.2, 5477.5, 5458.6, 5439.0,
                5439.0, 5440.4, 5455.1, 5451.6, 5449.5, 5482.4, 5505.5, 5505.5, 5497.1, 5492.9,
                5466.3, 5446.0, 5459.3, 5460.0, 5460.7, 5435.5, 5449.5, 5467.7, 5474.0, 5484.5,
                5491.5, 5490.8, 5474.0, 5467.7, 5456.5, 5455.8, 5464.2, 5455.8, 5455.8, 5444.6,
                5455.1, 5465.6, 5476.8, 5509.0, 5525.8, 5525.1, 5517.4, 5509.7,
                5517.4, 5509.7, 5514.6, 5530.0, 5530.7, 5528.6, 5515.3, 5520.2, 5500.6, 5469.8,
                5477.5, 5478.2, 5478.2, 5502.0, 5514.6, 5507.6, 5518.1, 5525.1, 5524.4, 5513.2,
                5495.0, 5509.0, 5511.1, 5530.7, 5555.2, 5557.3, 5556.6, 5569.2, 5582.5, 5584.6,
                5580.4, 5596.5, 5596.5, 5595.8, 5583.2, 5583.9, 5572.0, 5545.4, 5549.6, 5550.3,
                5563.6, 5579.0, 5567.1, 5534.9, 5510.4, 5496.4, 5496.4, 5502.0, 5503.4, 5485.2,
                5485.9, 5488.0, 5506.9, 5506.9, 5508.3, 5485.9, 5478.9, 5477.5, 5445.3, 5453.7,
                5453.0, 5450.9, 5460.0, 5464.9, 5462.1, 5471.9, 5459.3, 5459.3, 5456.5, 5460.7,
                5435.5, 5407.5, 5378.1, 5348.7, 5347.3, 5331.2, 5325.6, 5313.0, 5307.4, 5277.3,
                5250.0, 5250.0, 5254.9, 5253.5, 5261.2, 5265.4, 5271.7, 5303.9, 5303.9, 5307.4,
                5285.0, 5279.4, 5303.2, 5331.2, 5353.6, 5353.6, 5348.7, 5329.8, 5299.0, 5310.9,
                5311.6, 5334.0, 5334.0, 5331.9, 5332.6, 5330.5, 5328.4, 5317.2, 5306.0, 5306.0,
                5306.0, 5282.9, 5284.3, 5329.1, 5358.5, 5385.1, 5385.8, 5381.6, 5374.6, 5395.6,
                5408.9, 5424.3, 5418.7, 5418.7, 5412.4, 5408.9, 5415.9, 5406.8,
                5398.4, 5404.0, 5404.7, 5401.9, 5392.8, 5383.0, 5397.7, 5418.0, 5421.5, 5421.5,
                5418.0, 5401.2, 5399.1, 5374.6, 5381.6, 5402.6, 5402.6, 5409.6, 5410.3, 5388.6,
                5379.5, 5376.7, 5383.0, 5383.0, 5388.6, 5389.3, 5355.7, 5329.1, 5331.2, 5329.8,
                5329.8, 5324.9, 5321.4, 5327.7, 5335.4, 5330.5, 5318.6, 5318.6, 5314.4, 5301.1,
                5296.2, 5296.9, 5313.7, 5307.4, 5309.5, 5329.1, 5341.7, 5330.5, 5320.0, 5329.1,
                5338.9, 5338.9, 5325.6, 5308.1, 5302.5, 5293.4, 5264.0, 5258.4, 5258.4, 5261.9,
                5264.0, 5257.7, 5236.0, 5256.3, 5271.7, 5271.7, 5268.9, 5248.6, 5245.1, 5252.8,
                5250.0, 5243.7, 5243.7, 5239.5, 5238.8, 5244.4, 5229.7, 5221.3, 5233.9, 5233.9,
                5238.1, 5220.6, 5213.6, 5201.0, 5179.3, 5176.5, 5176.5, 5164.6, 5167.4, 5153.4,
                5148.5, 5143.6, 5152.7, 5152.7, 5155.5, 5153.4, 5131.7, 5137.3, 5140.8, 5128.9,
                5128.9, 5135.2, 5133.1, 5151.3, 5151.3, 5160.4, 5152.0, 5152.0, 5145.0, 5155.5,
                5168.8, 5176.5, 5189.1, 5177.9, 5177.2, 5169.5, 5164.6, 5156.2, 5180.0, 5187.7,
                5184.2, 5183.5, 5189.8, 5201.7, 5201.7, 5206.6, 5210.1, 5210.1,
                5210.1, 5203.8, 5200.3, 5209.4, 5208.0, 5207.3, 5205.9, 5205.9, 5200.3, 5182.1,
                5179.3, 5192.6, 5227.6, 5236.0, 5236.0, 5243.0, 5245.8, 5265.4, 5260.5, 5251.4,
                5230.4, 5230.4, 5223.4, 5218.5, 5214.3, 5226.9, 5220.6, 5198.9, 5198.9, 5201.0,
                5200.3, 5208.0, 5201.0, 5195.4, 5171.6, 5171.6, 5158.3, 5141.5, 5141.5, 5141.5,
                5146.4, 5138.7, 5138.7, 5138.0, 5126.8, 5090.4, 5084.8, 5078.5, 5080.6, 5080.6,
                5079.2, 5079.9, 5072.9, 5070.1, 5070.8, 5064.5, 5064.5, 5064.5, 5064.5, 5083.4,
                5101.6, 5110.7, 5135.9, 5135.9, 5126.8, 5107.9, 5121.9, 5120.5, 5101.6, 5084.1,
                5084.1, 5069.4, 5077.1, 5084.8, 5089.0, 5118.4, 5113.5, 5113.5, 5122.6, 5150.6,
                5186.3, 5217.8, 5205.9, 5196.8, 5196.8, 5190.5, 5193.3, 5189.8, 5163.9, 5148.5,
                5120.5, 5120.5, 5124.0, 5132.4, 5142.2, 5129.6, 5126.1, 5138.0, 5138.0, 5135.2,
                5145.7, 5142.2, 5124.7, 5105.8, 5086.2, 5086.2, 5077.8, 5069.4, 5049.1, 5037.9,
                5046.3, 5047.0, 5047.0, 5047.0, 5046.3, 5011.3, 4993.1, 4973.5, 4969.3, 4969.3,
                4965.1, 4965.1, 4953.2, 4949.0, 4934.3, 4908.4, 4907.7, 4913.3,
                4932.2, 4944.1, 4962.3, 4953.9, 4953.9, 4953.9, 4963.7, 4982.6, 4955.3, 4937.1,
                4935.0, 4938.5, 4938.5, 4931.5, 4935.7, 4935.7, 4911.9, 4900.0, 4896.5, 4895.8,
                4909.8, 4925.2, 4914.7, 4901.4, 4876.9, 4865.0, 4865.0, 4857.3, 4858.0, 4845.4,
                4843.3, 4839.8, 4825.8, 4823.7, 4832.8, 4823.0, 4783.8, 4776.1, 4764.9, 4770.5,
                4770.5, 4792.9, 4801.3, 4775.4, 4778.9, 4785.9, 4776.1, 4775.4, 4775.4, 4754.4,
                4722.2, 4714.5, 4711.7, 4719.4, 4720.8, 4717.3, 4711.7, 4732.7, 4732.7, 4749.5,
                4772.6, 4785.2, 4776.1, 4763.5, 4755.1, 4794.3, 4783.1, 4777.5, 4777.5, 4771.2,
                4759.3, 4769.1, 4766.3, 4807.6, 4853.1, 4853.1, 4861.5, 4860.8, 4862.2, 4874.8,
                4875.5, 4869.2, 4869.2, 4865.0, 4863.6, 4849.6, 4820.9, 4776.8, 4755.8, 4755.8,
                4762.1, 4798.5, 4776.8, 4753.7, 4748.1, 4749.5, 4749.5, 4757.9, 4760.0, 4762.1,
                4763.5, 4732.0, 4739.0, 4739.0, 4715.2, 4708.2, 4734.8, 4774.7, 4781.7, 4789.4,
                4789.4, 4820.9, 4832.1, 4793.6, 4776.8, 4751.6, 4769.8, 4769.8, 4757.9, 4738.3,
                4735.5, 4713.1, 4710.3, 4730.6, 4730.6, 4725.0, 4746.0, 4783.1,
                4799.2, 4832.1, 4827.2, 4827.2, 4817.4, 4815.3, 4803.4, 4796.4, 4776.1, 4769.1,
                4769.1, 4775.4, 4761.4, 4761.4, 4748.8, 4723.6, 4722.9, 4722.9, 4723.6, 4713.1,
                4655.0, 4627.7, 4608.1, 4613.0, 4613.0, 4606.7, 4604.6, 4601.8, 4572.4, 4551.4,
                4559.8, 4559.8, 4554.9, 4557.0, 4542.3, 4496.8, 4484.2, 4467.4, 4467.4, 4438.7,
                4440.8, 4464.6, 4507.3, 4534.6, 4536.7, 4536.7, 4545.8, 4506.6, 4463.9, 4430.3,
                4435.2, 4433.1, 4433.1, 4431.0, 4459.7, 4482.1, 4477.2, 4454.8, 4449.2, 4449.2,
                4457.6, 4449.9, 4447.8, 4424.0, 4432.4, 4429.6, 4431.7, 4439.4, 4424.7, 4411.4,
                4394.6, 4415.6, 4426.8, 4426.8, 4414.9, 4393.9, 4388.3, 4434.5, 4474.4, 4480.0,
                4480.7, 4477.2, 4484.9, 4496.1, 4500.3, 4530.4, 4539.5, 4540.2, 4526.9, 4510.8,
                4526.9, 4556.3, 4534.6, 4522.7, 4522.7, 4527.6, 4514.3, 4529.0, 4522.7, 4516.4,
                4495.4, 4495.4, 4497.5, 4489.8, 4456.2, 4442.2, 4445.0, 4442.2, 4442.2, 4440.1,
                4442.2, 4465.3, 4491.2, 4509.4, 4501.7, 4501.7, 4504.5, 4508.0, 4531.1, 4528.3,
                4470.2, 4449.2, 4438.0, 4442.2, 4501.0, 4516.4, 4526.9, 4554.2,
                4552.8, 4552.1, 4536.7, 4515.7, 4515.0, 4508.7, 4489.8, 4486.3, 4486.3, 4499.6,
                4501.7, 4492.6, 4459.7, 4444.3, 4433.1, 4433.8, 4436.6, 4439.4, 4424.0, 4422.6,
                4459.0, 4457.6, 4457.6, 4468.1, 4459.7, 4459.7, 4448.5, 4424.0, 4393.9, 4393.2,
                4403.7, 4391.8, 4405.1, 4417.7, 4417.0, 4418.4, 4418.4, 4412.8, 4405.8, 4443.6,
                4464.6, 4457.6, 4457.6, 4457.6, 4452.0, 4459.0, 4492.6, 4487.7, 4504.5, 4498.9,
                4498.9, 4493.3, 4512.2, 4527.6, 4540.9, 4615.8, 4666.2, 4666.2, 4674.6, 4698.4,
                4693.5, 4702.6, 4748.8, 4767.7, 4767.7, 4755.8, 4762.8, 4746.7, 4729.2, 4714.5,
                4734.1, 4733.4, 4743.9, 4770.5, 4761.4, 4746.0, 4757.2, 4771.9, 4771.9, 4782.4,
                4813.9, 4838.4, 4839.8, 4906.3, 4908.4, 4907.0, 4903.5, 4953.2, 4960.9, 5019.0,
                4973.5, 4921.7, 4920.3, 4904.2, 4924.5, 4931.5, 4869.2, 4891.6, 4840.5, 4839.8,
                4801.3, 4744.6, 4770.5, 4770.5, 4790.1, 4792.2, 4792.2, 4846.1, 4897.9, 4968.6,
                5031.6, 5062.4, 5083.4, 5086.2, 5151.3, 5157.6, 5135.9, 5121.9, 5170.9, 5226.9,
                5222.7, 5156.2, 5123.3, 5152.7, 5205.9, 5202.4, 5222.7, 5222.7,
                5217.8, 5284.3, 5419.4, 5460.7, 5532.1, 5513.2, 5549.6, 5593.7, 5604.9, 5476.1,
                5362.7, 5495.0, 5504.1, 5503.4, 5474.7, 5500.6, 5411.7, 5445.3, 5490.8, 5506.2,
                5504.8, 5451.6, 5512.5, 5579.7, 5602.8, 5499.9, 5552.4, 5556.6, 5548.9, 5542.6,
                5543.3, 5592.3, 5591.6, 5564.3, 5563.6, 5517.4, 5421.5, 5397.0, 5425.0, 5453.7,
                5517.4, 5517.4, 5529.3, 5533.5, 5522.3, 5515.3, 5498.5, 5506.2, 5505.5, 5456.5,
                5430.6, 5401.9, 5327.0, 5247.9, 5229.7, 5231.1, 5184.9, 5101.6, 4951.8, 4848.9,
                4958.1, 5033.7, 5033.0, 5007.1, 5009.2, 5010.6, 4998.0, 4983.3, 4990.3, 4990.3,
                4934.3, 4966.5
                ]
            }]
        });

        $('#run').click(function (event) {
                $.getJSON('/analysis/api/query?q=' + $('#search_query').val(), function (reply) {
                    var out = '<table class="table table-striped"><thead><tr>';
                    $.each(reply[0], function (key, value) {
                        out += '<th>' + key + '</th>'
                    });
                    out += '</tr></thead><tbody>';
                    $.each(reply, function (key, value) {
                        out += '<tr>';
                        $.each(value, function (key, value2) {
                            out += '<td>' + value2 + '</td>';
                        });
                        out += '</tr>';
                    });
                    out += '</table>';
                    $('#results_table').html(out);
                });
                event.preventDefault();
            });
    });
</script>
{% endblock %}
