<!DOCTYPE html>
<html>
    <head>
        <title>GPIG C</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-slider.css" rel="stylesheet" media="screen">
        <link href="/static/css/style.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">GPIG-C</a>
                    <ul class="nav">
                        <li{% if name == 'overview' %} class="active"{% endif %}><a href="/analysis/">Overview</a></li>
                        <li{% if name == 'status' %} class="active"{% endif %}><a href="/analysis/status/">Status</a></li>
                        <li{% if name == 'incidents' %} class="active"{% endif %}><a href="/analysis/incidents/">Incidents</a></li>
                        <li{% if name == 'analysis' %} class="active"{% endif %}><a href="/analysis/analysis/">Analysis</a></li>
                        <li{% if name == 'report' %} class="active"{% endif %}><a href="/analysis/report/">Report</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" id="title">
                <div class="span4" id="time"></div>
                <div class="span4"><h1>{{name}}</h1></div>
                <div class="span4"><a href="/analysis/incidents/"><h2 class="good" id="incident_header">Systems normal</h2></a></div>
            </div>
            <div class="row" id="warn_container" style="display:none">
                <div id="warning" class="span12">
                    <h1>Warning</h1>
                    <p>No updates received, Execution may be down</p>
                </div>
            </div>
        </div>

        <script src="/static/js/jquery-2.0.0.min.js"></script>

        {% block content %}{% endblock %}

        <script type="text/template" id="template_item">
            <div class="item">
                <h4><%- time %></h4>
                <p><%- description %></p>
            </div>
        </script>
        <script type="text/template" id="template_berth">
            <div class="item">
                <img src="/static/img/<%- lastStatus.statusType %>_small.png" />
                <h4><%- berthName %></h4>
                <p><%- lastStatus.description %></p>
            </div>
        </script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/underscore.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-slider.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHY7fExvj9pBGuE_hemDzFrtgVv1gdGnY&libraries=geometry,visualization&sensor=false"></script>
        <script type="text/javascript" src="/static/js/maps.google.polygon.containsLatLng.js"></script>
        <script type="text/javascript" src="/static/js/highcharts.js"></script>
    </body>
</html>

