{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span6">
            <h3>Incidents</h3>
            <div id="map_canvas"></div>

            <div class="messages" id="zone_messages">
                <h3>Zone status messages</h3>
            </div>
        </div>
        <div class="span6">
            <div class="berths">
                <h3>Berth status</h3>
            </div>
            <div class="messages" id="berth_messages">
                <h3>Berth status messages</h3>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/incidents.js"></script>
{% endblock %}
