{% extends "base.html" %}
{% block content %}
<div class="container" id="overview">
    <div>
        <label class="checkbox inline" style="cursor: default"><b>Show:</b></label>
        <label class="checkbox inline">
            <input type="checkbox" checked="checked" id="zones" /> Lanes
        </label>
        <label class="checkbox inline">
            <input type="checkbox" checked="checked" id="vessels" /> Ships
        </label>
        <label class="checkbox inline">
            <input type="checkbox" checked="checked" id="berths" /> Berths
        </label>
    </div>
    <div id="map">
        <div id="map_canvas"></div>
        <div id="loading"><img src="/static/img/loading.gif" /> Loading</div>
    </div>
    <div class="row" id="controls">
        <span class="span10"><input class="span10" type="text" id="slider" /></span>
        <span class="span2" style="text-align: right">
            <div class="btn-group">
                <button class="btn" id="backward"><i class="icon-backward"></i></button>
                <button class="btn" id="play"><i class="icon-play"></i></button>
                <button class="btn" id="forward"><i class="icon-forward"></i></button>
            </div>
        </span>
        <span class="span2 offset10" id="speed">x1</span>
    </div>
</div>
<script type="text/template" id="template_zones">
    <div id="content">
        <h2><%- name %></h2>
        <b>Status:</b> <%- statusType %><br />
        <b>Description:</b> <%- description %><br /><br />
        <b>Last Updated:</b> <% print(formattime('HH:MM', lastChecked)) %>
    </div>
</script>
<script type="text/template" id="template_vessels">
    <div id="content">
        <h2><%- name %></h2>
        <b>Callsign:</b> <%- callsign %>
    </div>
</script>
<script type="text/javascript" src="/static/js/overview.js"></script>
{% endblock %}
