{% extends "base.html" %}
{% block content %}
<div class="container" id="report">
    <div class="row">
        <div class="span12" style="margin-top: 10px">
            <form class="form-inline">
                <label><b>Report date range:</b></label>
                <input type="text" placeholder="Start date" id="start_date" value="01/01/2013 00:00" /> -
                <input type="text" placeholder="End date" id="end_date" value="01/02/2013 00:00" />
                <button class="btn" id="show"><i class="icon-refresh"></i> Update</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h3>Port heatmap</h3>
            <div id="map_canvas"></div>
        </div>
        <div class="span4" id="summary">
            <h3>Summary</h3>
            <div class="row-fluid">
                <div class="span4">
                    Total ships:
                </div>
                <div class="span8">
                    60
                </div>
            </div>
            <div class="row-fluid">
                <div class="span11 offset1" style="font-weight: normal">
                    <div class="row-fluid">
                        <div class="span4">Bulk:</div>
                        <div class="span8">44</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">Container:</div>
                        <div class="span8">16</div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    Total cargo:
                </div>
                <div class="span11 offset1" style="font-weight: normal">
                    <div class="row-fluid">
                        <div class="span4">Bulk:</div>
                        <div class="span8">200,000 tonnes</div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">Container:</div>
                        <div class="span8">802 containers</div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <a href="/analysis/incidents/">Incidents:</a>
                </div>
                <div class="span8">
                    <a href="/analysis/incidents/">5</a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    Avg. berth uptime:
                </div>
                <div class="span4">
                    92%
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    Avg. lane zone uptime:
                </div>
                <div class="span4">
                    81%
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    Avg. berth utilisation:
                </div>
                <div class="span4">
                    41%
                </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    Avg. lane zone utilisation:
                </div>
                <div class="span4">
                    38%
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <h3>Utilisation</h3>
            <div id="graph2" style="height: 300px"></div>
        </div>
        <div class="span4">
            <h3>Plan</h3>
            <div id="graph1" style="height: 300px"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/report.js"></script>
{% endblock %}
