{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span6">
            <h3>Port minimap</h3>
            <div id="map_canvas"></div>

            <div class="messages">
                <h3>Recent messages</h3>
                <div class="item">
                    <h4>01:05</h4>
                    <p><b>ISABELLE CELINE</b> left <b>Berth 4</b> <span style="color:rgb(255, 0, 0); font-weight: bold">late</span></p>
                </div>
                <div class="item">
                    <h4>01:26</h4>
                    <p><b>PAULINE RUSS</b> left <b>Berth 6</b> <span style="color:rgb(29, 133, 38); font-weight: bold">on time</span></p>
                </div>
                <div class="item">
                    <h4>01:26</h4>
                    <p><b>PAULINE RUSS</b> arrived in <b>Berth 6</b></p>
                </div>
                <div class="item">
                    <h4>01:05</h4>
                    <p><b>ISABELLE CELINE</b> <span style="color:rgb(255, 0, 0); font-weight: bold">stuck</span> in <b>Berth 4</b></p>
                </div>
                <div class="item">
                    <h4>00:49</h4>
                    <p><b>GEORG MAESRK</b> left <b>Berth 3</b> <span style="color:rgb(29, 133, 38); font-weight: bold">on time</span></p>
                </div>
                <div class="item">
                    <h4>00:53</h4>
                    <p><b>ISABELLE CELINE</b> arrived in <b>Berth 4</b></p>
                </div>
                <div class="item">
                    <h4>00:49</h4>
                    <p><b>GEORG MAESRK</b> arrived in <b>Berth 3</b></p>
                </div>
                <div class="item">
                    <h4>00:20</h4>
                    <p><b>CITY OF LUTECE</b> left <b>Berth 5</b> <span style="color:rgb(29, 133, 38);font-weight: bold">on time</span></p>
                </div>
                <div class="item">
                    <h4>00:11</h4>
                    <p><b>CITY OF LUTECE</b> arrived in <b>Berth 5</b></p>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="berths">
                <h3>Berth status</h3>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 1</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 2</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 3</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 4</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 5</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 6</h4>
                    <p>No ship movements scheduled</p>
                </div>
            </div>

            <!--
            <div id="recent_activity">
                <h3>Recent activity</h3>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 1
                </label>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 2
                </label>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 3
                </label>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 4
                </label>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}
