{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span6">
            <h3>Port minimap</h3>
            <div id="map_canvas"></div>

            <div class="messages">
                <h3>Recent messages</h3>
                <div class="item">
                    <h4>00:53</h4>
                    <p><b>ISABELLE CELINE</b> arrived in <b>Berth 4</b></p>
                </div>
                <div class="item">
                    <h4>00:49</h4>
                    <p><b>GEORG MAESRK</b> arrived in <b>Berth 3</b></p>
                </div>
                <div class="item">
                    <h4>00:20</h4>
                    <p><b>CITY OF LUTECE</b> left <b>Berth 5</b> <span style="color:rgb(29, 133, 38);font-weight: bold">on time</span></p>
                </div>
                <div class="item">
                    <h4>00:11</h4>
                    <p><b>CITY OF LUTECE</b> arrived in <b>Berth 5</b></p>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="berths">
                <h3>Berth status</h3>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 1</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 2</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/unloading.png" />
                    <h4>Berth 3</h4>
                    <p><b>GEORG MAERSK</b> berthed</p>
                </div>
                <div class="item">
                    <img src="/static/img/loading.png" />
                    <h4>Berth 4</h4>
                    <p><b>ISABELLE CELINE</b> loading</p>
                </div>
                <div class="item">
                    <img src="/static/img/idle.png" />
                    <h4>Berth 5</h4>
                    <p>No ship movements scheduled</p>
                </div>
                <div class="item">
                    <img src="/static/img/anchor.png" />
                    <h4>Berth 6</h4>
                    <p><b>PAULINE RUSS</b> expected 01:31</p>
                </div>
            </div>

            <!--
            <div id="recent_activity">
                <h3>Recent activity</h3>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 1
                </label>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 2
                </label>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 3
                </label>
                <label class="checkbox inline">
                    <input type="checkbox"> Berth 4
                </label>
            </div>-->
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#map_canvas').on('ready', function (event, map) {
        var ships = [[51.45835575728655, 0.34954798323235536],
            [51.46151179328496, 0.3412212111285271]];

        $.each(ships, function (i, ship) {
            var line = drawVessel(map);
            line.setPath([
                new google.maps.LatLng(ship[0], ship[1]),
                new google.maps.LatLng(ship[0], ship[1])]);
        });
    });
</script>
{% endblock %}
